body {
  padding: 30px;
  font: 1rem/1.5 var(--bs-font-sans-serif);
  min-width: 576px;
}

a {
  color: var(--bs-blue);
}

.content {
  padding: 20px;
  margin-right: 20px;
}

.alert {
  margin-top: 20px;
}

form,
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gj-datepicker {
  margin-bottom: 0 !important;
}