body {
  padding: 30px;
  font: 1rem/1.5 var(--bs-font-sans-serif);
}

a {
  color: var(--bs-blue);
}

form,
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gj-datepicker {
  margin-bottom: 0 !important;
}
