<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %> </title>
</head>

<body>
  <h1><%= title %> </h1>
  <hr>
  <p><a href=<%= anime.url+"/delete" %>> Delete Anime </a></p>
  <p><a href=<%= anime.url+"/update" %>> Update Anime </a></p>
</body>